@font-face
{
    font-family: AvenirBold;
    src: url(../polices/AvenirNextLTPro-Bold.otf);
}

@font-face
{
    font-family: AvenirDemiBold;
    src: url(../polices/AvenirNextLTPro-Demi.otf);
}

@font-face
{
    font-family: AvenirRegular;
    src: url(../polices/AvenirNextLTPro-Regular.otf);
}

@font-face
{
    font-family: ItcRegular;
    src: url(../polices/itc-avant-garde-gothic-std-book-58957161d80eb.otf);
}

@font-face
{
    font-family: ItcLight;
    src: url(../polices/itc-avant-garde-gothic-std-book-58957161d80eb.otf);
}

@font-face
{
    font-family: ItcDemiBold;
    src: url(../polices/itc-avant-garde-gothic-std-demi-589572a199962.otf);
}

@font-face
{
    font-family: ItcBold;
    src: url(../polices/itc-avant-garde-gothic-std-bold-589572c7e9955.otf);
}


/************/
/*** Menu ***/
/************/

#tablette
{
    display: none !important;
}


/* Top header */

.navbar-brand
{
    font-size: 1rem;
}

.navbar-brand img
{
    width: 10em;
}

.be-top-header
{
    border-bottom: none;
    background-color: #9dd9cd;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
    z-index: 1;
    height: 4em;
}

.be-top-header .navbar-nav > li > a.nav-link 
{
    line-height: 52px;
}

.be-top-header .navbar-nav > li.dropdown .dropdown-menu > a, 
.be-top-header .navbar-nav > li.dropdown .dropdown-menu > a:hover
{
    background-color: #fafafa;
}


/* Left sidebar */

.be-left-sidebar
{
    width: 220px;
    margin-top: 4em !important;
    z-index: 2;
}

.be-left-sidebar:before
{
    border-right: none;
    background-color: initial;
}

.be-left-sidebar .sidebar-elements > li > a, 
.be-left-sidebar .sidebar-elements > li > button,
.be-left-sidebar .sidebar-elements > li ul li > a
{
    line-height: 32px;
    padding: 0 20px;
}

.be-left-sidebar .sidebar-elements > li > a .icon 
{
    min-width: 32px;
}

.be-left-sidebar .sidebar-elements > li.accueil > button a span
{
    padding-left: 3px;
}

.be-left-sidebar .sidebar-elements > li > a .icon:before,
.be-left-sidebar .sidebar-elements > li > button .icon:before
{
    background-image: linear-gradient(132deg, #7d4d82, #c86dd7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial;
}

.sidebar-elements > li > button .icon.mdi.mdi-chevron-right
{
    min-width: 0;
    font-size: 3em !important;
}

.be-left-sidebar .sidebar-elements > li ul li > a .icon
{
    min-width: 32px;
    margin-right: 9px;
    vertical-align: middle;
    line-height: 18px;
    text-align: center;
    color: #7d4d82;
}

.sidebar-elements > li ul li > a .icon:before
{
    background-image: linear-gradient(132deg, #7d4d82, #c86dd7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial;
}

.be-left-sidebar .sidebar-elements li.parent > a:before, 
.be-left-sidebar .sidebar-elements li.parent.open > a:before 
{
    content: '';
    color: #686767;
    font-size: 2.4em;
    border-top: 8px solid #686767;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    margin-top: 11px;
}

.be-left-sidebar .sidebar-elements > li > a,
.be-left-sidebar .sidebar-elements .parent .sub-menu > li > a
{
    white-space: nowrap;
    text-overflow: clip;
}

.left-sidebar-toggle, 
.page-title span
{
    color: #858585 !important;
    font-size: 16px !important;
    font-weight: bold !important;
}

.be-left-sidebar
{
    border-right: none;
}

.mobile
{
    display: none;
}

.sidebar-elements button
{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    font-size: 11px !important;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    width: 100%;
}

.sidebar-elements a,
.sidebar-elements > li > a span,
.sidebar-elements .sub-menu a
{
    color: #4e4e4e !important;
    font-size: 11px !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.sidebar-elements .accueil span, 
.sidebar-elements .deconnecter span 
{
    color: black !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px !important;
    font-weight: 700;
    vertical-align: bottom;
}

.sidebar-elements > li > a span
{
    color: #4e4e4e !important;
}

.sidebar-elements > li > a:hover, 
.sidebar-elements > li ul,  
.sidebar-elements > li ul a
{
    background-color: #f5f5f5 !important;
    border-top: none !important;
}

.accueil
{
    border-bottom: 1px solid #eeeeee;
}

.sub-menu li a
{
    background-color: #ededed !important;
}

.sidebar-elements li span.active
{
    color: black !important;
}

.sidebar-elements .mdi.mdi-power
{
    font-size: 2em !important;
}

.deconnecter:first-child
{
    border-top: 1px solid #eeeeee;
}

.sidebar-elements .accueil span
{
    font-size: 13px !important;
}

.fa-handshake, .fa-folder-plus
{
    font-size: 18px !important;
}

.icon.mdi.mdi-accounts-alt, 
.icon.mdi.mdi-shopping-cart, 
.icon.mdi.mdi-bookmark, 
.icon.mdi.mdi-layers, 
.icon.mdi.mdi-refresh-alt, 
.icon.mdi.mdi-desktop-windows, 
.icon.mdi.mdi-chevron-right
{
    font-size: 2em !important;
}

.icon.mdi.mdi-chevron-right:first-child
{
    margin-left: -2px !important;
}


/* Right navbar */

.be-right-navbar 
{
    background-color: #9dd9cd;
    border-bottom: none;
    height: 4em;
}

.be-right-navbar .navbar-brand
{
    display: none;
}

.be-user-nav > li.dropdown .dropdown-menu .user-info
{
    background-color: #7a92b6;
}

.be-user-nav > li.dropdown .dropdown-menu .user-info .user-name 
{
    font-size: 18px;
    line-height: 22px;
}

.be-user-nav > li.dropdown .dropdown-menu
{
    width: 220px;
}

.be-user-nav > li.dropdown .dropdown-menu:after
{
    border-bottom-color: #7a92b6 !important;
}

.be-user-nav > li.dropdown > a img 
{
    margin-bottom: 1px;
}

.icon.mdi.mdi-face, .dropdown-menu .icon.mdi.mdi-power
{
    font-size: 24px !important;
    color: #4e4e4e !important;
    min-width: 22px !important;
}

.utilisateur .dropdown-item
{
    color: #4e4e4e !important;
}

.dropdown-item
{
    color: #7c8495 !important;
    font-size: 14px;
}

.dropdown-item.active, 
.dropdown-item:active
{
    background-color: white !important;
}



/***************/
/*** Contenu ***/
/***************/


.be-content
{
    margin-left: 220px;
    z-index: 0;
}

.card
{
    box-shadow: none;
}

.card-header h4
{
    color: black;
    font-weight: 400;
    font-size: 20px;
}

.card-subtitle
{
    color: #4e4e4e;
    font-weight: 400;
    font-size: 15px;
}

.card-body, 
.pagination
{
    font-family: 'Montserrat', sans-serif;
}

.card-body
{
    overflow-x: auto;
}

table
{
    border-collapse: collapse;
}

th:nth-child(1)
{
    width: 14rem;
}

th:nth-child(2)
{
    width: 10rem;
}

th:nth-child(3)
{
    width: 6rem;
}

th:nth-child(4)
{
    width: 6rem;
}

th:nth-child(5)
{
    width: 13rem;
}

th:nth-child(6)
{
    width: 15rem;
}

.table.table-borderless thead tr th 
{
    border-bottom: 2px solid #979797;
    font-family: 'AvenirBold';
}

.icon.mdi.mdi-plus
{
    font-size: 24px !important;
    color: white !important;
}

.table.table-borderless thead th
{
    font-size: 14px;
}

.btn-warning.traiter, 
.btn-warning.traiter:hover, 
.btn-warning.traiter:focus, 
.btn-warning.traiter:active,
.btn-warning.tampon, 
.btn-warning.tampon:hover, 
.btn-warning.tampon:focus, 
.btn-warning.tampon:active,
.btn-success.envoyer, 
.btn-success.envoyer:hover, 
.btn-success.envoyer:focus, 
.btn-success.envoyer:active,
.btn-success.valider, 
.btn-success.valider:hover, 
.btn-success.valider:focus, 
.btn-success.valider:active,
.btn-danger, 
.btn-danger:hover, 
.btn-danger:focus, 
.btn-danger:active,
.btn-success.terminer, 
.btn-success.terminer:hover, 
.btn-success.terminer:focus, 
.btn-success.terminer:active
{
    font-family: 'ITCRegular';
    font-size: 12px;
    font-weight: 600;
    line-height: 0;
    cursor: default !important;
    box-shadow: none !important;
    padding: 4px 0;
}

.btn span
{
    vertical-align: bottom;
    line-height: normal;
}

.btn-warning.traiter, 
.btn-warning.traiter:hover, 
.btn-warning.traiter:focus, 
.btn-warning.traiter:active
{
    background-color: #d86c3e !important;
    border-color: #d86c3e !important;
}

.btn-warning.tampon, 
.btn-warning.tampon:hover, 
.btn-warning.tampon:focus, 
.btn-warning.tampon:active
{
    background-color: #7d4d82 !important;
    border-color: #7d4d82 !important;
}

.btn-success.envoyer, 
.btn-success.envoyer:hover, 
.btn-success.envoyer:focus, 
.btn-success.envoyer:active
{
    background-color: #cc4277 !important;
    border-color: #cc4277 !important;
}

.btn-success.valider, 
.btn-success.valider:hover, 
.btn-success.valider:focus, 
.btn-success.valider:active
{
    background-color: #5c84f0 !important;
    border-color: #5c84f0 !important;
}

.btn-danger, 
.btn-danger:hover, 
.btn-danger:focus, 
.btn-danger:active
{
    background-color: #ffffff !important;
    border-color: #4e4e4e !important;
    color: #4e4e4e !important;
}

.btn-success.terminer, 
.btn-success.terminer:hover, 
.btn-success.terminer:focus, 
.btn-success.terminer:active
{
    background-color: #9dd9cd !important;
    border-color: #9dd9cd !important;
}

.btn-primary, 
.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active
{
    background-color: #9dd9cd !important;
    border-color: #9dd9cd !important;
    box-shadow: none !important;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    border-radius: 0;
    line-height: 34px;
}

.no-border-x
{
    color: black;
}

.no-border-x tr td:first-child
{
    font-weight: 600;
    font-size: 12px;
    font-family: 'ItcRegular';
}

.no-border-x tr td
{
    font-size: 12px;
    font-family: 'ItcRegular';
}

.page-link, 
.page-link:hover, 
.page-link:focus, 
.page-link:active
{
    background-color: white;
}

.page-item:first-child .page-link, 
.page-item .page-link, 
.page-item:last-child .page-link
{
    border-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.page-link
{
    border: none !important;
    border-radius: none !important;
}

.page-item.active .page-link 
{
    background-color: #9dd9cd;
    border-color: #9dd9cd;
    border-radius: 0 !important;
    box-shadow: none;
}

.page-item a, 
.page-item a:hover
{
    color: #4e4e4e;
    font-size: 12px;
    font-weight: bold;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
    border: 1px solid #f6f6f6;
}

::placeholder
{
    color: #a4a4a4 !important;
    font-size: 14px;
}

.input-group > .form-control, 
.recherche .btn.btn-primary
{
    border-radius: 0 !important;
    border: none;
}

.recherche .btn.btn-primary, 
.recherche btn.btn-primary:active
{
    background-color: #5c84f0 !important;
    border-color: none !important;
    box-shadow: none !important;
    border-radius: 0;
    height: 36px;
}

.recherche .form-control, 
.recherche .form-control:focus
{
    border: 1px solid #979797;
    border-right: none;
    height: 36px;
    font-size: 14px;
}

.mdi.mdi-search
{
    color: white !important;
    font-size: 24px !important;
}

.filtre
{
    font-family: 'AvenirDemiBold';
    font-size: 11px;
}

.mdi.mdi-filter-list
{
    font-size: 2em;
}



@media (max-width: 1199.98px)
{
    #normal
    {
        display: none !important; 
    }
    
    #tablette
    {
        display: block !important;
    }
    
    #contrats1
    {
        display: none;
    }
    
    #contrats2
    {
        display: block;
    }
    
    .be-left-sidebar#tablette
    {
        width: 85px;
    }
    
    .mostly-customized-scrollbar 
    {
        display: block;
        overflow: auto;
    }
    
    .mostly-customized-scrollbar::-webkit-scrollbar 
    {
        width: 0;
        height: 0;
        background-color: #f5f5f5;
    }
    
    .mostly-customized-scrollbar::-webkit-scrollbar-thumb 
    {
        background: #f5f5f5;
    }
    
    #tablette .sidebar-elements > li > a, 
    #tablette .sidebar-elements > li ul li > a
    {
        padding: 0 15px;
    }
    
    #tablette .sidebar-elements > li > ul
    {
        border-bottom: none;
    }
    
    #tablette .sidebar-elements li span, 
    #tablette .sidebar-elements li.parent > a.hidden:before, 
    #tablette .sidebar-elements li.parent.open > a.hidden:before
    {
        display: none;
    }
    
    @keyframes apparition
    {
        from
        {
            visibility: hidden;
        }
        to
        {
            visibility: visible;
        }
    }
    
    #tablette .sidebar-elements li.parent > a:before, 
    #tablette .sidebar-elements li.parent.open > a:before
    {
        animation: 0.25s apparition 0.15s;
        visibility: hidden;
        animation-fill-mode: forwards;
    }
    
    #tablette .parent li span
    {
        animation: none !important;
        visibility: visible !important;
        animation-fill-mode: none !important;
    }
    
    #tablette .accueil
    {
        border-bottom: 1px solid transparent;
    }
    
    #tablette .deconnecter:first-child
    {
        border-top: 1px solid transparent;
    }
    
    .be-user-nav > li.dropdown .dropdown-menu
    {
        width: 190px;
        margin-left: 30px;
    }
    
    .be-user-nav > li.dropdown .dropdown-menu .user-info .user-name 
    {
        font-size: 16px;
        line-height: 19px;
    }
    
    .icon.mdi.mdi-face, .dropdown-menu .icon.mdi.mdi-power
    {
        font-size: 21px !important;
        min-width: 19px;
    }
    
    .dropdown-item
    {
        font-size: 12px;
    }
    
    .be-content
    {
        margin-left: 85px;
    }
    
    th:nth-child(1)
    {
        min-width: 10rem;
    }
    
    th:nth-child(2)
    {
        min-width: 8rem;
    }
    
    th:nth-child(3)
    {
        min-width: 6rem;
    }
    
    th:nth-child(4)
    {
        min-width: 6rem;
    }
    
    th:nth-child(5)
    {
        min-width: 10.3rem;
    }
    
    th:nth-child(6)
    {
        min-width: 12.8rem;
    }

    .card-header h4
    {
        font-size: 18px;
    }

    .card-subtitle
    {
        font-size: 13px;
    }

    .table.table-borderless thead th
    {
        font-size: 12px;
    }
    
    .mdi.mdi-spinner,
    .mdi.mdi-mail-send,
    .mdi.mdi-check,
    .mdi.mdi-hourglass-alt,
    .mdi.mdi-block-alt
    {
        font-size: 14px !important;
    }

    .page-item a, .page-item a:hover
    {
        font-size: 10px;
    }

    .btn-warning.traiter, 
    .btn-warning.traiter:hover, 
    .btn-warning.traiter:focus, 
    .btn-warning.traiter:active,
    .btn-warning.tampon, 
    .btn-warning.tampon:hover, 
    .btn-warning.tampon:focus, 
    .btn-warning.tampon:active,
    .btn-success.envoyer, 
    .btn-success.envoyer:hover, 
    .btn-success.envoyer:focus, 
    .btn-success.envoyer:active,
    .btn-success.valider, 
    .btn-success.valider:hover, 
    .btn-success.valider:focus, 
    .btn-success.valider:active,
    .btn-danger, 
    .btn-danger:hover, 
    .btn-danger:focus, 
    .btn-danger:active,
    .btn-success.terminer, 
    .btn-success.terminer:hover, 
    .btn-success.terminer:focus, 
    .btn-success.terminer:active
    {
        font-size: 10px;
        white-space: nowrap;
        padding: 2px 0;
    }

    .no-border-x tr td:first-child, 
    .no-border-x tr td
    {
        font-size: 10px;
    }

    .btn-primary, 
    .btn-primary:hover, 
    .btn-primary:focus, 
    .btn-primary:active
    {
        font-size: 12px;
        line-height: 30px;
    }
    
    .icon.mdi.mdi-plus
    {
        font-size: 21px !important;
    }

    ::placeholder
    {
        font-size: 12px;
    }

    .recherche .btn.btn-primary, 
    .recherche btn.btn-primary:active
    {
         height: 32px;
    }

    .recherche .form-control, 
    .recherche .form-control:focus
    {
        height: 32px;
        font-size: 12px;
    }

    .mdi.mdi-search
    {
        font-size: 21px !important;
    }

    .filtre
    {
        font-size: 9px;
    }
}


@media (max-width: 767.98px)
{
    #normal
    {
        display: block !important; 
    }
    
    #tablette
    {
        display: none !important;
    }
    
    .be-wrapper 
    {
        padding-top: 54px;
    }
    
    .be-top-header
    {
        border-bottom: none;
        background-color: transparent;
        box-shadow: none;
        height: 0;
    }
    
    .be-user-nav > li.dropdown > a img 
    {
        margin-bottom: 6px;
    }
    
    .be-left-sidebar
    {
        border-bottom: none;
        width: 100% !important;
        margin-top: 0 !important;
        z-index: 0;
    }
    
    .be-left-sidebar .sidebar-elements > li.accueil > a span
    {
        margin-left: -4px;
    }
    
    .left-sidebar-wrapper
    {
        z-index: 0;
    }
    
    .left-sidebar-toggle
    {
        height: 3.3em;
        background-color: transparent !important;
    }
    
    .left-sidebar-spacer 
    {
        border-top: none !important;
    }
    
    .left-sidebar-spacer.open
    {
        height: auto;
    }
    
    .mobile
    {
        display: block;
    }
    
    .sidebar-elements li span, 
    .be-left-sidebar .sidebar-elements li.parent > a:before, 
    .be-left-sidebar .sidebar-elements li.parent.open > a:before
    {
        display: inline;
    }
    
    .sidebar-elements li span,
    .be-left-sidebar .sidebar-elements li.parent > a:before, 
    .be-left-sidebar .sidebar-elements li.parent.open > a:before
    {
        animation: none !important;
        visibility: visible !important;
        animation-fill-mode: none !important;
    }
    
    .sidebar-elements .parent
    {
        border-bottom: none;
    }
    
    .sidebar-elements li.parent 
    {
        display: none;
    }
    
    .accueil
    {
        border-bottom: 1px solid #eeeeee;
    }
    
    .deconnecter:first-child
    {
        border-top: 1px solid #eeeeee;
    }
    
    .be-right-navbar
    {
        background-color: #9dd9cd !important;
        border-bottom: none !important;
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
    }
    
    .be-right-navbar .navbar-brand
    {
        display: block;
    }
    
    .be-user-nav > li.dropdown > a:after 
    {
        display: none;
    }
    
    .be-user-nav > li.dropdown .dropdown-menu 
    {
        left: auto;
        right: 0;
        width: 180px;
        top: 52px;
    }
    
    .be-top-header .be-user-nav > li.dropdown .dropdown-menu:after 
    {
        left: auto;
        right: 10px;
    }
    
    .be-left-sidebar 
    {
        border-right: none;
    }
    
    .w-100:first-child .sidebar-elements
    {
        margin-top: 0 !important;
    }
    
    .be-user-nav > li.dropdown .dropdown-menu .user-info .user-name 
    {
        font-size: 15px;
        line-height: 18px;
    }
    
    .icon.mdi.mdi-face, .dropdown-menu .icon.mdi.mdi-power
    {
        font-size: 18px !important;
    }
    
    .dropdown-item
    {
        font-size: 11px;
    }
    
    .be-content
    {
        margin-left: 0;
    }
    
    table
    {
        width: 50.2rem !important;
    }
    
    th:nth-child(1)
    {
        min-width: 9rem;
    }
    
    th:nth-child(2)
    {
        min-width: 7rem;
    }
    
    th:nth-child(3)
    {
        min-width: 5rem;
    }
    
    th:nth-child(4)
    {
        min-width: 5rem;
    }
    
    th:nth-child(5)
    {
        min-width: 10rem;
    }
    
    th:nth-child(6)
    {
        min-width: 13rem;
    }
}